.flex {
  display: flex;

  .center {
    justify-content: center;
    align-content: center;
  }

  .grow {
    flex-grow: 1;
  }
}

.column {
  flex-direction: column;
}

.max-width {
  width: 100%;
}

.padding30 {
  padding: 30px;
}
