@import 'utils';
@import 'backgrounds';
@import 'fonts';

body, html {
  margin: 0;
  height: 100vh;
  font-family: $DPPt;
  font-size: 18px;
  background:
    linear-gradient(
      rgb(255, 230, 230),
      rgb(255, 236, 172),
    )
}

#root {
  height: 100%;
}

#app {
  align-items: center;
}

#mail {
  width: 250px;
  height: 186px;
  overflow: hidden;

  #content {
    margin: 15px;
    margin-top: 20px;
    height: 100%;
    position: relative;
  }

  #stamp {
    
  }
}

button, input, select, textarea {
  border: 1px solid rgb(175, 153, 153);
  border-radius: 10px;
  font-family: inherit;
  font-size: 100%;
}

button {
  background-color: white;
}

@media (max-width: 768px) {
  #app {
    flex-direction: column;
  }
}